# -------------------------------------------------------------------
# Server Configuration
# -------------------------------------------------------------------

# The port where the Log Sentinel backend will listen
PORT=5000

# The environment mode (development | production)
NODE_ENV=development


# -------------------------------------------------------------------
# External Integrations (Optional)
# -------------------------------------------------------------------

# Set to true to enable webhook forwarding of alerts
WEBHOOK_ENABLED=false

# The webhook URL that the system should send outgoing alert payloads to.
# This defaults to http://localhost:3000/api/mock/webhook if unspecified.
WEBHOOK_URL=http://localhost:3000/api/mock/webhook
